[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
boto3 = "*"
pyjwt = {extras = ["crypto"], version = "*"}
requests = "*"
bson = "*"
docker = "*"

[dev-packages]

[requires]
python_version = "3.9"
